<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mick88.notepad"
    android:versionCode="8"
    android:versionName="2.2" 
    android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <application
        android:name="com.mick88.notepad.NotepadApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:allowClearUserData="true">
        <activity
            android:name="com.mick88.notepad.note_list.NotepadList"
            android:label="@string/title_activity_notepad_list"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter >
            	<action android:name="android.intent.action.SEND" />
            	<category android:name="android.intent.category.DEFAULT" />
            	<data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mick88.notepad.note_edit.NoteEdit"
            android:label="@string/titleEditNote" 
            android:windowSoftInputMode="stateVisible"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@style/AppTheme">
        </activity>
        
        <!-- <receiver android:name="NoteWidgetProvider" android:label="Note">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
               android:resource="@xml/notepad_widget" />
        </receiver> -->
        
        <meta-data android:name="com.google.android.backup.api_key"
    android:value="AEdPqrEAAAAIObyer7czsjFYdiV3XL5bc8fSEb5XpS66uTZeGg" />
    </application>

</manifest>